/* your code */
table{
	border:1px solid black;
	border-radius:10px;
	width:100%;
	height:30vh;
	
}
thead{
	background-color:darkblue;
	color:white;
	font-family:"Roboto";

	

}
.gray-row{
	background-color:lightgray;
}
